body { background: #222; color: #efefef; font-family: Tahoma, san-serif; min-width: 980px; }
canvas { width: 640px; height: 480px; background: #444; position: absolute; left: 50%; margin-left: -320px; top:98px;}

.left { float: left; clear: left; }
.right { float: right; clear: right; }

.spores, .invaders, .score, .status { width: 260px; border: 1px solid #333; border-radius: 12px; background: #444; box-shadow: 2, 2, 2, #111; margin: 24px; padding: 12px;}