body {
  background: #000;
  color: #efefef;
  font-family: 'Maven Pro', Helvetica, Arial, san-serif;
  min-width: 640px;
}
canvas {
  width: 500px;
  height: 500px;
  background: #333;
}
input[type="text"] {
  border: 1px solid #222;
  padding: 4px 8px;
}
menu {
  position: fixed;
  left: 0;
  z-index: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}
#logo {
  position: fixed;
  right: 0;
  z-index: 3;
  top: 40px;
  width: 240px;
}
#main-navigation {
  top: 40px;
}
#social-navigation {
  bottom: 40px;
}
#main-navigation a, #social-navigation a {
  background: url(/images/menu-sprite.png) no-repeat top left;
  text-indent: -9999em;
  display: block;
}

ul#players { list-style: none; margin: 0; padding: 0; }
ul#players li.self { font-weight: bold; color: #f00; }

menu#main-navigation li.main_01 a { background-position: 0 0; width: 210px; height: 48px; } 
menu#main-navigation li.main_02 a { background-position: 0 -98px; width: 210px; height: 43px; } 
menu#main-navigation li.main_03 a { background-position: 0 -191px; width: 210px; height: 49px; } 
menu#social-navigation li.social_01 a { background-position: 0 -290px; width: 234px; height: 52px; } 
menu#social-navigation li.social_02 a { background-position: 0 -392px; width: 234px; height: 38px; } 

menu#main-navigation li.main_01 a:hover { background-position: 0 0; width: 210px; height: 48px; } 
menu#main-navigation li.main_02 a:hover { background-position: 0 -98px; width: 210px; height: 43px; } 
menu#main-navigation li.main_03 a:hover { background-position: 0 -191px; width: 210px; height: 49px; } 
menu#social-navigation li.social_01 a:hover { background-position: 0 -290px; width: 234px; height: 52px; } 
menu#social-navigation li.social_02 a:hover { background-position: 0 -392px; width: 234px; height: 38px; } 


#in-space {
  background: #333;
  margin: 0 auto;
  width: 640px;
}
#the-fight,
#history,
#honors {
  margin: 0 auto;
}
#the-fight {
  width: 540px;
}
#honors {
  width: 440px;
  padding: 200px 20px 600px 20px;
}
#history {
  width: 440px;
  padding: 200px 20px;
}
#ship-controls {
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 3;
  width: 300px;
  height: 272px;
  font-size: 14px;
  padding: 30px 60px;
  background: url('/images/plate.gif') no-repeat;
}
#ship-controls dl {
  list-style: none;
  margin: 0;
  padding: 0;
  text-shadow: 0 -1px rgba(255, 255, 255, 0.4);
  color: #fff;
}
#ship-controls dl dt {
  margin: 0 0 20px;
}
#ship-controls dl dt h2 {
  margin: 0;
  font-size: 16px;
}
#ship-controls dl dd {
  margin: 0 0 40px;
}
#ship {
  background: url(/images/portal.gif) center center no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;  
  text-indent: -9999em;
}
#portal {
  background: url(/images/portal.png) center center no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;  
}
#voting-booth {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
}
